<template>
<div>
  <h1>kButton component (vue):</h1>
  <br />
  <p>minimum:</p>
  <k-button></k-button>
  <br />
  <p>color:</p>
  <k-button>default</k-button>
  <k-button class="__color_orange">orange</k-button>
  <k-button class="__color_red">red</k-button>
  <k-button class="__color_green">green</k-button>
  <br />
  <p>size:</p>
  <k-button class="__size_small">default small</k-button>
  <k-button class="__size_large">default large</k-button>
  <br />
  <p>ghost:</p>
  <k-button class="__ghost">default</k-button>
  <k-button class="__ghost __color_orange">ghost orange</k-button>
  <k-button class="__ghost __color_red">ghost red</k-button>
  <k-button class="__ghost __color_green">ghost green</k-button>
  <br />
  <p>icon:</p>
  <k-button icon="search">default with k-icon</k-button>
  <br />
  <p>combinations:</p>
  <k-button icon="search" class="__size_large __color_green">green large with k-icon</k-button>
  <k-button icon="facebook" class="__ghost __color_orange">orange ghost with k-icon</k-button>
  <k-button icon="search" class="__ghost __color_red __size_small">ghost red small with k-icon</k-button>
</div>
</template>

<script>
import kButton from "../component/kButton.vue"

export default {
  components: {
    kButton
  },
  data () {
    return {
    }
  }
}
</script>
