<template>
<a href="#" class="kButton" @click.prevent="click">
  <k-icon :glyph="icon" v-if="icon"></k-icon>
  <slot>kButton</slot>
</a>
</template>

<script>
import kIcon from "k-icon"

export default {
  name: "kButton",
  components: {
    kIcon
  },
  props: {
    icon: {
      type: String,
      required: false
    },
  },
  data () {
    return {
    }
  },
  methods: {
    click() {
      this.$emit("click")
    }
  }
}
</script>

<style lang="sass" src="./kButton.sass"></style>
