@import "vars.sass"

.kButton,
.kButton:visited
  display: inline-block
  padding: 5px 10px 7px 10px
  border-width: 1px
  border-style: solid
  color: #fff
  text-decoration: none
  border-radius: 3px
  background: $blue
  border-color: $blue
  transition: $animate-normal

  .kIcon
    fill: #fff
    vertical-align: bottom
    width: 16px
    height: 16px

  &:hover
    opacity: .9



  /* modifiers */

  /* color */

  &.__color_orange
    background: $orange
    border-color: $orange

  &.__color_red
    background: $red
    border-color: $red

  &.__color_green
    background: $green
    border-color: $green

  /* size */

  &.__size_small
    font-size: .8em
    padding: 3px 8px
    line-height: 1.2em

    .kIcon
      width: 10px
      height: 10px

  &.__size_large
    font-size: 1.5em
    padding: 15px 25px 17px 25px

    .kIcon
      width: 22px
      height: 22px

  /* ghost */

  &.__ghost
    background: none
    color: $blue

    &.__color_orange
      color: $orange
      .kIcon
        fill: $orange
      &:hover
        background: $orange

    &.__color_red
      color: $red
      .kIcon
        fill: $red
      &:hover
        background: $red

    &.__color_green
      color: $green
      .kIcon
        fill: $green
      &:hover
        background: $green

    .kIcon
      fill: $blue

    &:hover
      background: $blue
      color: #fff
      .kIcon
        fill: #fff
